spacy>=2.0.0
# spacy model including vectors
https://github.com/explosion/spacy-models/releases/download/en_vectors_web_lg-2.0.0/en_vectors_web_lg-2.0.0.tar.gz#en_vectors_web_lg
keras
numpy
cytoolz
tensorflow
plac
scikit-learn
pillow
pathlib
